/*=
    Trumph rules

    @version 1.0
    @author Andre Machado <andre.machado.dev@gmail.com>
*/
.rpl {
  text-indent: -9999px;
  font-size: 0
}

.clearfix:after {
    content: " ";
    clear: both;
    display: table
}

.show {
  transition: opacity .2s $easing;
  display: block;
  opacity: 1
}

.hide {
  transition: opacity .2s $easing;
  display: none;
  opacity: 0
}

.stand-by {
  transition: opacity .2s $easing;
  opacity: .2
}

.fl {
  float: left
}

.fr {
  float: right
}

.both {
  clear: both
}