/*=
    Wrap and content area modules

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.wrap {
  @include transition(transform .2s $easing);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #e1eaea
}

.wrap [ui-view] {
  display: block;
  width: $app_width;
  margin: 0 auto
}

[ui-view="access"] {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('../img/login.png') no-repeat center center
}

.content, .plain_content {
  @extend .clearfix;
  position: relative;
  display: block;
  margin-bottom: 35px
}

.content {
  @include box-shadow(rgba(0,0,0,.3) 0 0 3px);
  padding: 35px;
  background: #fff
}

.plain_content {
  float: left;
  width: 790px
}

.sidebar {
  float: right;
  width: 210px;
  margin-bottom: 35px
}