/*=
    Nav definitions

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
$opacity_color: rgba(255, 255, 255, .3);

.nav {
  position: absolute;
  z-index: 1;
  width: 15%;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 70px 2.5%;
  font-family: 'robotoregular';
  background: $menu
}

.nav .icon_menu {
  position: absolute;
  right: 5%;
  top: 30px;
  font-size: 1.8rem;
  color: #fff
}

.nav__header {
  display: block;
  padding: 0 0 15px 0;
  border-bottom: 1px solid $opacity_color
}

.nav__userpic,
.nav__username,
.nav__usercompany {
  display: block;
  text-align: center
}

.nav__userpic {
  @include border-radius(100%);
  margin: 0 auto 10px auto;
  width: 65px;
  height: 65px;
  text-align: center;
  overflow: hidden;
  border: 1px solid $opacity_color
}

.nav__userpic img {
  width: 100%
}

.nav__username {
  font-size: 16px;
  color: rgba(255,255,255,.8)
}

.nav__usercompany {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: $opacity_color
}

.nav ul {
  margin: 0 0 20px 0
}

.nav li, .nav li a {
  display: block;
  color: #fff
}

.nav li {
  margin: 0 0 10px 0
}

.nav li a {
  padding-left: 10px;
  text-decoration: none;
  font-size: 1.6rem;
  opacity: .3
}

.nav li a:hover, .nav li a.selected {
  opacity: 1
}

.nav__menu li {
  margin: 0;
  border-bottom: 1px solid $opacity_color
}

.nav__menu a {
  padding-top: 10px;
  padding-bottom: 10px
}

.nav__menu a:before {
  width: 40px;
  font-size: 3rem
}





