/*=
    Colours

    General colors used in application

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
$gray_ultralight: #f5f5f5;
$gray_light: #eaeaea;
$gray_medium: #d5dbdb;
$gray: #828282;

$charcoal_light: #505154;
$charcoal_medium: #424345;
$charcoal: #333;

$red: #da1a1a;
$red_soft: #ec5151;

$yellow: #c99007;
$yellow_soft: #e0c00d;
$yellow_fluorescent: #dfbf0d;
$yellow_pastel: #fffbe2;
$yellow_pastel: #fffbe2;

$blue: #2666b3;
$blue_soft: #65ade5;
$blue_pastel: #e6edf5;
$blue_pastel_medium: #d5dde7;
$blue_light: #c4dff0;
$blue_light_medium: #abc6e4;

$orange: #e55a00;
$orange_soft: #ff7800;
$orange_fluorescent: #e55a00;

$green: #28b63f;
$green_soft: #16e537;
$green_pastel: #eefee3;

$blue_gray_ultralight: #c6ced8;
$blue_gray_light: #8c9fb0;
$blue_gray_medium: #45556c;
$blue_gray: #5b7694;

$rose: #ff0054;