/*=
    Easing equations to unify all animations

    @version 1.0
    @author Andre Machado <andre.machado.dev@gmail.com>
*/
$easing: ease-in-out;

/*=
    Metric values

    @version 1.0
    @author Andre Machado <andre.machado.dev@gmail.com>
*/
$nav_width: 270px;
$app_width: 1024px;






