/*=
    Feedback server

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.server_feedback {
  @include transition(all .2s $easing);
  @include box-shadow(rgba(0,0,0,.5) 0 0 3px);
  position: absolute;
  z-index: 4;
  opacity: 0;
  display: block;
  max-width: 300px;
  padding: 20px;
  border: 2px solid #fff;
  color: #fff
}

.server_feedback__title {
  display: block;
  font-weight: bold
}

[class*="server_feedback__tooltip"] {
  @include box-shadow(rgba(0,0,0,.7) 0 0 10px);
  padding: 15px;
  border: 0;

  &:before {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border: solid transparent;
    border-width: 10px
  }
}

[class*="server_feedback__tooltip_top"]:before {
  bottom: -20px
  
}

[class*="server_feedback__tooltip_bottom"]:before {
  top: -20px
}

.server_feedback__success {
  background: $green;

  &:before {
    border-top-color: $green
  }
}

.server_feedback__warning {
  background: $yellow_fluorescent;

  &:before {
    border-top-color: $yellow_fluorescent
  }
}

.server_feedback__error {
  background: $red;

  &:before {
    border-top-color: $red
  }
}

.server_feedback__top_center {
  top: 10px;
  left: 50%
}

.server_feedback__top_right {
  top: 10px;
  right: 10px
}

.server_feedback__top_left {
  top: 10px;
  left: 10px
}

.server_feedback__bottom_center {
  bottom: 10px;
  left: 50%
}

.server_feedback__bottom_right {
  bottom: 10px;
  right: 10px
}

.server_feedback__bottom_left {
  bottom: 10px;
  left: 10px
}

.server_feedback__middle_right {
  top: 50%;
  right: 10px
}

.server_feedback__middle_left {
  top: 50%;
  left: 10px
}

.server_feedback__center_middle {
  top: 50%;
  left: 50%
}

.server_feedback__tooltip_top_left:before,
.server_feedback__tooltip_bottom_left:before {
  left: 10px
}

.server_feedback__tooltip_top_right:before,
.server_feedback__tooltip_bottom_right:before {
  right: 10px
}

.server_feedback__tooltip_top_center:before,
.server_feedback__tooltip_bottom_center:before {
  left: 47%
}
