/*=
    Breadcumb, just it ;)

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.breadcrumb {
  clear: both;
  display: block;
  margin: 0 0 5px 0;
  padding: 0 0 2px 0;
  border-bottom: 1px solid $gray_medium;

  a, span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    font-size: 1.2rem;
    

    &:before {
      float: right;
      font-size: .8rem;
      margin: 5px 0 0 5px
    }
  }

  a {
    color: $blue_gray_medium;
  }

  a:hover {
    text-decoration: none
  }

  span {
    color: $blue_gray_light
  }
}
