/*=
    General form elements style based on project layout

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
label {
  @extend .clearfix;
  display: block;
  margin: 0 0 10px 0;
}

.control-label.has-error {
  /* @extend .clearfix; */
  display: block;
  margin: 2px 0 0 0;
  color: $red;
  font-style: normal;
  font-size: 1.2rem;

  &:before {
    @extend .icons;
    content: "\e620";
    display: inline-block;
    margin: 0 5px 0 0;
    color: $yellow_fluorescent
  }
}

label > span {
  display: block;
  margin: 0 0 5px 0;
  color: $gray
}

label span:before {
  display: inline-block;
  margin: -3px 5px 0 0
}

label input[type="checkbox"] + span,
label input[type="radio"] + span {
  display: inline-block;
  margin: 0 0 0 5px
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), textarea, select {
    @mixin input_placeholder(){
      color: $gray_medium;
      font-size: 1.4rem
    };
    padding: 10px;
    width: 100%;
    /* height: 30px; */
    font-size: 1.4rem;
    border: 1px solid $gray_medium;

    &.ng-invalid.ng-untouched {
      border-color: $gray_medium
    }

    /* &.ng-invalid.ng-touched {
      border-color: $red
    } */
}

textarea {
  @mixin input_placeholder(){
      color: $gray_medium
  };

  height: 100px
}

select {
  background-image: url(../svg/arrow_down.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
  background-size: auto 25%
}

select[disabled], textarea[disabled], input[disabled] {
  opacity: .7
}

select[multiple] {
  height: 100px;
  line-height: auto;

  &:focus {
    outline-color: none
  }

  option {
    @include transition(padding .1s $easing);
    padding: 7px;
    border-bottom: 1px solid $gray_light
  }

  option[selected] {
    padding: 7px 7px 7px 21px;
    background: url(../svg/check.svg) no-repeat 5px center;
    background-size: auto 40%
  }
}

/*=
    Autocomplete widget

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.autocomplete {
  position: relative;
  display: block;
  margin: 0 0 20px 0;

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 300px;
    border-color: $gray;
    background: $gray_light url('../svg/plus.svg') no-repeat 97% center;
    background-size: auto 35%
  }
}

.autocomplete__count, .autocomplete__unavailable {
  display: block;
  padding: 10px 0 0 0;

  span, a {
    color: $blue
  }
}

.autocomplete__list {
  @include box-shadow(rgba(0,0,0,1) 0 0 10px);
  position: absolute;
  z-index: 1;
  top: -10px;
  left: -10px;
  right: -10px;
  display: none;
  width: 320px;
  margin: 0 10px 0 0;
  padding: 60px 10px 10px 10px;
  border: 1px solid $gray_light;
  background: #fff
}

.autocomplete__list li {
  display: block;
  padding: 0 10px;
  line-height: 40px;
  vertical-align: middle;
  cursor: pointer;
  border-bottom: 1px solid $gray_medium
}

.autocomplete__list li:hover,
.autocomplete__list li.selected {
  color: #fff;
  background: $blue_gray
}

.autocomplete__notfound {
  cursor: default
}

.autocomplete__list li.autocomplete__notfound:hover,
.autocomplete__list li.autocomplete__notfound.selected {
  cursor: default;
  color: $charcoal;
  background: #fff
}

/*=
    Search

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.add_item {
  position: relative;
  display: block;
  margin: 0 0 20px 0;

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 300px;
    border-color: $gray;
    background: $gray_light url('../svg/plus.svg') no-repeat 97% center;
    background-size: auto 35%
  }
}

/*=
    Criterias for filter data list

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.filter_by {
  position: relative;
  display: block;
  margin: 0 0 20px 0;

  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select {
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin: 0 10px 0 0;
    border-color: $gray;
    background: $gray_light
  }
}

/* .filter_by__tags {
  

  a {

  }
} */

/*=
    Input file

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.attachment .has-error {
  margin: 0 0 10px 0 !important
}

.input_file {
  /* @extend .clearfix; */
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  margin: 0 0 20px 0;
  padding: 0 0 0 10px;
  overflow: hidden;
  border: 1px solid $gray_medium;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;

  &:before {
    /* content: 'Browse'; */
    float: right;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 15px;
    margin: 0;
    background: $gray;
    color: #fff
  }

  input {
    position: absolute;
    left: -200px;
    top: -200px;
    opacity: 0
  }
}

.image_preview {
  display: block
}

/*=
    Editable fields

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.edit_input {
  font-size: 2.1rem !important;
  line-height: 40px !important;
  height: 40px !important;
  padding: 0 10px !important;
  /* margin: 0 0 5px 0; */
  font-family: 'robotolight'
}

.edit_date {
  /* margin: 0 0 5px 0; */
  width: 130px !important
}

.edit_datepicker {
  float: none;
  width: 130px !important
}

.edit_textarea {
  /* margin: 0 0 5px 0; */
  height: 100px !important;
  border: 0 !important
}

.edit_cancel {
  display: inline-block;
  margin: -5px 0 0 15px;
  vertical-align: middle;
  font-size: 2rem;
  color: $gray
}

.edit_cancel:hover {
  text-decoration: none
}

/*=
    Combo

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.combo {
  position: relative;
  margin: 0 0 20px 0
}

.combo__button {
  display: block;
  padding: 10px;
  /* font-size: 1.2rem; */
  vertical-align: middle;
  border: 1px solid $gray_medium;
  background: #fff
}

.combo__button:hover {
  text-decoration: none
}

.combo__button:before {
  float: right;
  margin: 1px 0 0 0;
  font-size: 1.5rem
}

.combo__close {
  float: right;
  font-size: 1rem;
  color: $gray;
  margin: 0 5px 5px 0
}

.combo__list {
  /* display: none; */
  position: absolute;
  z-index: 2;
  top: 40px;
  min-width: 100%;
  max-height: 175px;
  padding: 5px;
  border: 1px solid $gray_medium;
  border-top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: $gray_light
}

.combo__list ul {
  clear: both
}

.combo__list li {
  display: block;
  border-bottom: 1px solid $blue_gray_ultralight
}

.combo__list li:last-child {
  border: 0
}

.combo__list li a {
  display: block;
  padding: 10px 10px 10px 5px;
  /* font-size: 1.2rem; */
  white-space: nowrap;
  background: rgba(0,0,0,0)
}

.combo__list li a:hover,
.combo__list li a.selected {
  text-decoration: none;
  background: rgba(0,0,0,.07)
}

.combo__list li a:before {
  @include transition(opacity .08s $easing);
  opacity: 0;
  margin: 0 2px 0 0;
  font-size: .8rem
}

.combo__list li a:hover:before,
.combo__list li a.selected:before {
  opacity: 1;
  display: inline-block
}

/*=
    Color picker

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/

color-picker input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
  float: left;
  width: 75%
}

.color-picker-wrapper .color-picker-swatch.input-group-addon {
  float: right;
  display: inline;
  width: 25% !important;
  height: 40px;
  border: 1px solid $gray_medium;
  border-left: 0
}







