/*=
    Chats and comments

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.chat {
  clear: both;
  width: 100%
}

.chat__form {
  display: block;
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid $blue_pastel_medium;
  color: $charcoal_light;
  background: $gray_light;

  textarea {
    float: left;
    width: 78%;
    height: 50px
  }

  input {
    float: right;
    width: 21.1%;
    padding: 0;
    margin: 11px 0 0 0;
    vertical-align: top;
    text-transform: none
  }
}

.chat__item {
  @extend .clearfix;
  display: block;
  /* clear: both; */
  /* float: left;
  width: 97%; */
  margin: 0 0 10px 0;
  padding: 15px;
  border: 1px solid $blue_pastel_medium;
  color: $charcoal_light;
  background: $blue_pastel;

  &.my {
    float: right;
    background: $yellow_pastel
  }
}

.chat__author, .chat__date {
  float: left;
  width: 50%;
  height: 30px
}

.chat__author {
  color: $charcoal_medium
}

.chat__date {
  text-align: right;
  color: $blue_soft;
  font-size: 1.2rem;
  text-transform: lowercase
}
