/*=
    Loader icons for ajax request and view changes

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.main_heading {
  font-size: 2.4rem;
  font-family: 'robotobold';
  text-decoration: none
}

.second_heading {
  margin: 0 0 20px 0;
  font-size: 2.1rem;
  font-family: 'robotolight';
  text-decoration: none
}

.third_heading {
  margin: 0 0 10px 0;
  font-size: 1.8rem;
  text-decoration: none;

  &:before {
    display: inline-block;
    margin: 0 5px 0 0;
    font-size: 2.1rem;
    vertical-align: top
  }
}

.stroke_heading {
  margin: 0 0 10px 0;
  border-bottom: 1px solid $blue_gray_light;

  span {
    display: inline-block;
    padding: 0 50px 5px 0;
    border-bottom: 4px solid $charcoal
  }
}