/*=
    Loader icons for ajax request and view changes

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.loader {
  position: absolute;
  z-index: 99;
}

.view_loader {
  @include border-radius(10px);
  /* top: 300px;
  left: 50%; */
  margin: 0 0 0 -10px;
  width: 20px;
  height: 20px;
  border: 15px solid #fff;
  box-sizing: initial;
  fill: $charcoal_light;
  background: #fff
}

.button_loader {
  width: 20px;
  height: 20px
}

.charcoal_loader {
  width: 20px;
  height: 20px;
  fill: $charcoal_light
}

