/*=
    Modal style

    @version 1.0
    @author Andre Machado <andre@eov.ae>
*/
.modal {
  @include transition(opacity .2s $easing);
  position: absolute;
  z-index: 90;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9)
}

.bt_close_modal {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 1.6rem;
  color: $red
}

.modal__show {
  opacity: 1
}

.modal__content {
  @include transition(all .6s $easing);
  position: absolute;
  top: -800px;
  left: 50%;
  opacity: 0;
  padding: 35px;
  border: 1px solid #fff;
  background: #ddd;

  .bt {
    margin-bottom: 0
  }
}

.modal__content_show {
  top: 75px;
  opacity: 1
}

.modal_content__small {
  width: 400px;
  margin-left: -200px
}

.modal_content__medium {
  width: 800px;
  margin-left: -400px
}

.modal_content__big {
  width: 1024px;
  margin-left: -512px
}

.modal_content__desc {
  display: block;
  margin: 0 0 20px 0;
  color: $charcoal_light
}

.modal label span {
  color: $charcoal
}





